<div class="row">
  <div class="col-4">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        *ngFor="let user of users"
        [routerLink]="user.id"
        routerLinkActive="active"
      >
        {{ user.name }}
      </a>
      <a
        class="btn btn-block btn-primary mt-3"
        routerLink="add"
        routerLinkActive="active"
      >
        Ajouter un user
      </a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
