:host {
    user-select: none;
}

.selected {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.items {
    border: 1px solid black;
    cursor: pointer;
}

.item {
    padding: 5px;
}

.active {
    background-color: lightblue;
    font-weight: bold;
}